.top-section {
    padding-top: 66px;
    background-image: url('./Images//top_banner.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-section>div:nth-of-type(1) {
    font-size: 24px;
    color: #aed8ea;
    text-align: center;
    margin-top: 12px;
    min-height: 34px;
    font-weight: 700;
}

.tags-area {
    margin: 0 auto;
    max-width: var(--max-width-tag-area);
    padding-bottom: 100px;
}

.tags-area>div:nth-of-type(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    margin: auto;
}

.tags-container {
    margin-top: 6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 150px;
    overflow-y: hidden;
}

.tags-container img {
    width: 100%;
}

.tag-main {
    /* background-image: url('./Images//tag-main.jpg'); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-width: 232px;
    max-width: 232px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 3px;
    margin: 6px 6px 6px 0;
}

.tag-main>div:nth-of-type(2) {
    background-color: #4070B5;
    padding: 12px;
    text-align: center;
}

.tag-main>div:nth-of-type(2)>div:nth-of-type(1) {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    text-transform: capitalize;
}

.tag-main>div:nth-of-type(2)>div:nth-of-type(2) {
    color: #ffffff80;
    font-size: 11px;
    font-weight: 700;
    margin-top: 4px;
}


.tag-normal {
    /* background-image: url('./Images/tag-oddly.jpg'); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-width: 110px;
    max-width: 110px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 3px;
    margin: 6px 8px 8px 0;
}

.tag-normal>div:nth-of-type(2) {
    background-color: #5E58BC;
    padding: 12px;
    text-align: center;
}

.tag-normal>div:nth-of-type(2)>div:nth-of-type(1) {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    text-transform: capitalize;
}

.tag-normal>div:nth-of-type(2)>div:nth-of-type(2) {
    color: #ffffff80;
    font-size: 11px;
    font-weight: 700;
    margin-top: 4px;
}

#galleryContainer {
    max-width: var(--max-width-gallery-area);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    row-gap: 10px;
    column-gap: 10px;
    margin: auto;
    transform: translateY(-36px);
}

.gallery-img-card {
    width: 240px;
    box-sizing: border-box;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 500ms ease;
}

.gallery-img-card:hover {
    opacity: 1;
}

.gallery-img-card>div:nth-of-type(1) {
    margin: 0;
    font-size: 0;
}

.gallery-img-card>div:nth-of-type(1) img {
    width: 100%;
}

.gallery-img-card>div:nth-of-type(2) {
    color: #fff;
    background-color: #474a51;
    padding: 10px 16px;
}